body{
    margin: 0px;
    padding: 0px;
}

ul {
    margin: 0
}
.nav {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav li{
    text-decoration: none;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}